body{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.producto_abastecer{
    text-decoration: line-through;
    color: 	#00ff00;
}
.titulo{
    font-family: 'Alkatra', cursive;
    font-size: xx-large;
}
.modificar_tarea{
    contenteditable=true;
}
